*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: vazir;
    src: url('./font/vazir-font/Vazir-Medium.ttf');
}
body{
    font-family: vazir;
    direction: rtl;
    background-color: #ffffff;
}